.jumbotron{
	text-align: center;
	background-color:rgb(202, 110, 110);
	color: rgb(43, 27, 4);
}
.jumbotron:hover{
	background-color: rgb(43, 27, 4);
	color: rgb(202, 110, 110);
}


footer{
	padding: 10px 10px 0 10px;
	background-color:rgb(224, 105, 105);
	margin-bottom: 0px;
	margin-top: 20px;
}
h3{
	text-align:center; 
}
h4{
	text-align: center
}
p{
	text-align: center;
}


footer > div {
	color: rgb(43, 27, 4);
}

footer > div>div>a {
	color: rgb(43, 27, 4);
}

footer>div:hover{
	background-color: rgb(43, 27, 4);
	color: whitesmoke;
}
footer > div >div> a:hover{
	color:white;
}

.ch{
	flex: 1 150px;
	padding: 2px 5px 5px 5px;
	margin-top: 10px;
}

.btn-re{
	width: 100%;

}